body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #ADD8E6;
}

.box {
    background-color: #00FFFF;
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 8px;

}

p{
    margin: 8px 0 0 0;
}

h1{
    font-size: 24px;
    font-weight: 700;
}

h2{
    font-size: 19px;
    font-weight: 700;
}

h3{
    font-size: 16px;
    margin: 0;
}
